@model IEnumerable<Work_with_ImageFile_in_MVC.Models.GameViewModel>
@using Work_with_ImageFile_in_MVC.Helper

@{
    ViewBag.Title = "ListGames";
}

<h2>ListGames</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Developer)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @{
            var pathImg = "/Images/Games/" + item.Image;
            <img src=@pathImg />
        }

        @Html.DisplayFor(modelItem => item.Image)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Developer)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
